<html>
	<body>
		<form action='/search_for_item/' method="GET">
			<table border="1" align="center">
				<tr><td>Enter Item Name</td><td><input type="text" name='it_name'></td></tr>
				<tr><td colspan="2" align="center"><font color="red" size="10"> OR</font></td></tr>
				<tr><td>Enter Batch Number</td><td><input type="text" name='bt_no'></td></tr>
				<tr><td colspan="2" align="center"><font color="red" size="20"> OR</font></td></tr>
				<tr><td>Enter Company Name</td><td><input type="text" name='comp_name'></td></tr>
				<tr><td colspan="2" align="center"><input type="submit" value="Search"></td></tr>
			</table>
		</form>
	</body>
</html>